<div class="flex justify-between items-center w-full mt-2 mb-4">
  <h4>Joined</h4>
</div>

<div class="grid grid-cols-12 gap-4">
  <div *ngFor="let campaign of campaigns" class="col-span-12 sm:col-span-6 lg:col-span-3 p-2">
    <p-card class="shadow-lg h-full relative" [style]="{ overflow: 'hidden' }">
      <!-- Header -->
      <ng-template #header>
        <img class="w-full" [style]="{ height: '180px' }" [src]="campaign.image" alt="Campaign Image" />
        
      </ng-template>

      <!-- Title -->
      <ng-template #title> {{ campaign.title }} </ng-template>

      <!-- Content -->
      <div class="flex flex-col gap-3 mt-4">
        <!-- Description -->
        <div class="flex items-center gap-2 text-gray-600 text-sm">
          <span>{{ campaign.description }}</span>
        </div>

        <!-- Progress -->
        <p-progressBar [value]="campaign.progress" [showValue]="false" [style]="{ height: '0.5rem' }"></p-progressBar>
        <span class="text-sm font-medium">
          ${{ campaign.raised.toLocaleString() }} raised of ${{ campaign.goal.toLocaleString() }}
        </span>
      </div>

      <!-- Footer -->
      <ng-template #footer>
        <div class="flex flex-col gap-2 mt-4">
          <p-button label="Join Cause" severity="contrast" [rounded]="true" class="block"></p-button>
          <p-button label="View Details" severity="contrast" [rounded]="true" outlined="true" class="block"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

