<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-6 border rounded-xl border-1 border-gray-200 overflow-hidden">
        <div class="card">
            <div class="flex flex-row gap-2 align-center"> <i class="pi pi-megaphone"></i> <span> Solidarity Day
                    2025</span> </div>
            <!-- Event Content -->
            <div class="flex flex-col gap-3 mt-4">
                <!-- Progress -->
                <p-progressBar [value]="97" [showValue]="false" [style]="{ height: '0.5rem' }"></p-progressBar>
                <span class="text-sm font-medium">
                    <p-tag value="$ 245.000" rounded="true" /> raised of 50,000
                </span>
                <div class="flex flex-row justify-between align-center text-sm">
                    <span class="text-sm font-medium">
                        AlL Jamaats
                    </span>
                    <a href="/" class="text-sm font-medium text-primary-500 hover:underline">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 border rounded-xl border-1 border-gray-200 overflow-hidden">
        <div class="card">
            <div class="flex flex-row gap-2 align-center"> <i class="pi pi-megaphone"></i> <span>Solidarity Day
                    2025</span> </div>
            <!-- Event Content -->
            <div class="flex flex-col gap-3 mt-4">
                <!-- Progress -->
                <p-progressBar [value]="97" [showValue]="false" [style]="{ height: '0.5rem' }"></p-progressBar>
                <span class="text-sm font-medium">
                    <p-tag value="$ 245.000b" rounded="true" /> raised of 50,000
                </span>
                <div class="flex flex-row justify-between align-center text-sm">
                    <span class="text-sm font-medium">
                        AlL Jamaats
                    </span>
                    <a href="/" class="text-sm font-medium text-primary-500 hover:underline">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
