<div class="grid grid-cols-1 lg:grid-cols-2 h-screen">
    <!-- Left Side: Form -->
    <div class="overflow-y-auto flex flex-col justify-center p-6">
        <button pButton type="button" icon="pi pi-arrow-left" class="absolute top-4 left-6 p-button-outlined p-button-rounded p-button-secondary w-10 h-10">
        </button>
        <div class="w-full max-w-[380px] mx-auto">
            <h2 class="text-2xl font-bold mb-6 mt-16">Sign up as a Community Member</h2>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="space-y-4">
                <!-- Full Name -->
                <div class="flex flex-col gap-2">
                    <label for="FullName">Full Name</label>
                    <input id="FullName" type="text" pInputText class="w-full" formControlName="FullName" />
                    <small *ngIf="profileForm.get('FullName')?.invalid && profileForm.get('FullName')?.touched" class="text-red-600">
                    Full Name is required
                    </small>
                </div>

                <!-- Email -->
                <div class="flex flex-col gap-2">
                    <label for="Email">Email address</label>
                    <input id="Email" type="Email" pInputText class="w-full" formControlName="Email" />
                    <small *ngIf="profileForm.get('Email')?.invalid && profileForm.get('Email')?.touched" class="text-red-600">
                    Enter a valid Email
                    </small>
                </div>

                <!-- Mobile -->
                <div class="flex flex-col gap-2">
                    <label for="Mobile">Phone</label>
                    <input id="Mobile" type="text" pInputText class="w-full" formControlName="Mobile" />
                </div>

                <!-- Blood Type -->
                <div class="flex flex-col gap-2">
                    <core-dropdown class="w-full"
                                    url="User/GetReferenceTypes?id=8"
                                    label="Blood Type"
                                    optionLabel="Name"
                                    formControlName="BloodTypeId"
                                    />
                </div>

                <!-- Marital Status -->
                <div class="flex flex-col gap-2">
                    <core-dropdown class="w-full"
                                            url="User/GetReferenceTypes?id=7"
                                            label="Marital Status"
                                            optionLabel="Name"
                                            formControlName="MaritalTypeId"
                                            />
                                    </div>

                <!-- Password -->
                <div class="flex flex-col gap-2">
                    <label for="password">Change Password</label>
                    <input id="password" type="password" pInputText class="w-full" formControlName="password" />
                </div>

                <!-- Confirm Password -->
                <div class="flex flex-col gap-2">
                    <label for="confirm">Confirm Password</label>
                    <input id="confirm" type="password" pInputText class="w-full" formControlName="confirmPassword" />
                    <small *ngIf="profileForm.hasError('passwordMismatch') && profileForm.get('confirmPassword')?.touched" class="text-red-600">
                    Passwords do not match
                    </small>
                </div>

                <!-- Submit -->
                <p-button type="submit" label="Submit" severity="contrast" [rounded]="true" class="block w-full"></p-button>

                <!-- Login Link -->
                <p class="text-center text-sm text-gray-600 mt-3">
                    Already have an account?
                    <a routerLink="/login" class="text-blue-600 hover:underline">Login</a>
                </p>
                </form>
        </div>
    </div>
    <!-- Right Side Image (hidden on small screens) -->
    <app-rightimgside></app-rightimgside>
</div>
