<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-12 border rounded-xl border-1 border-gray-200 overflow-hidden">
        <div class="card">
            <div class="flex flex-row gap-2 align-center"> <i class="pi pi-list"></i><span
                    class="two-word-limit">Guarantee to hospitals in case of</span></div>
            <!-- Event Content -->
            <div class="flex flex-col gap-3 mt-4">
                <span class="text-sm font-medium flex flex-row gap-2">
                    <p-tag value="$ 245.000" rounded="true" />
                    <p-tag value="Urgent" severity="danger" rounded="true" />
                    <p-tag value="Approved" severity="success" rounded="true" />
                </span>
                <div class="flex flex-row justify-between align-center text-sm">
                    <span class="text-sm font-medium">
                        Medical / Health
                    </span>
                    <a href="/" class="text-sm font-medium text-primary-500 hover:underline">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-12 border rounded-xl border-1 border-gray-200 overflow-hidden">
        <div class="card">
            <div class="flex flex-row gap-2 align-center"> <i class="pi pi-list"></i><span
                    class="two-word-limit">Guarantee
                    to hospitals in case of</span></div>
            <!-- Event Content -->
            <div class="flex flex-col gap-3 mt-4">
                <span class="text-sm font-medium flex flex-row gap-2">
                    <p-tag value="$ 245.000" rounded="true" />
                    <p-tag value="Urgent" severity="danger" rounded="true" />
                    <p-tag value="Approved" severity="success" rounded="true" />
                </span>
                <div class="flex flex-row justify-between align-center text-sm">
                    <span class="text-sm font-medium">
                        Medical / Health
                    </span>
                    <a href="/" class="text-sm font-medium text-primary-500 hover:underline">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-12 border rounded-xl border-1 border-gray-200 overflow-hidden">
        <div class="card">
            <div class="flex flex-row gap-2 align-center"> <i class="pi pi-list"></i><span
                    class="two-word-limit">Guarantee
                    to hospitals in case of</span></div>
            <!-- Event Content -->
            <div class="flex flex-col gap-3 mt-4">
                <span class="text-sm font-medium flex flex-row gap-2">
                    <p-tag value="$ 245.000" rounded="true" />
                    <p-tag value="Urgent" severity="danger" rounded="true" />
                    <p-tag value="Approved" severity="success" rounded="true" />
                </span>
                <div class="flex flex-row justify-between align-center text-sm">
                    <span class="text-sm font-medium">
                        Medical / Health
                    </span>
                    <a href="/" class="text-sm font-medium text-primary-500 hover:underline">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
