<p-toolbar >
        <ng-template #start> <h4> {{selectedReferenceType}} </h4>
        </ng-template>
        <ng-template #end>
            <p-button [rounded]="true" label="New Role" icon="pi pi-plus" severity="contrast" class="mr-2" (onClick)="addNew()" />
        </ng-template>
</p-toolbar>
    <core-table [TableSPName]="'GetRoles'"
                [Columns]="Columns"
                [Actions]="Actions"
                [RefreshData]="RefreshData"
                (actionClicked)="onActionTriggered($event)">
    </core-table>

    <dynamic-form [apiName]="'generic/UmRole'"
                  [ShowDialog]="ShowDialog"
                  [HeaderName]="'Add new role'"
                  [config]="FormConfig"
                  [patchData]="pathFormValue"
                  (submitForm)="OnFormSubmit($event)"
                  (toggleDialog)="toggleDialog($event)">
    </dynamic-form>

    <picklist [ShowDialog]="ShowAssignRoleDialog"
              [HeaderName]="'Assign Menu'"
              url="user/GetMenuByRoleId?id={{picklistid}}"
              saveurl="user/UpdateMenuByRoleId?id=1221">     
    </picklist>

 <p-confirmdialog [style]="{ width: '450px' }" />
