<div class="flex justify-between items-center w-full mt-2 mb-4">
  <h4>Venues</h4>
  
</div>
<div class="grid grid-cols-12 gap-4">
  <div *ngFor="let card of [1,2,3,4,5,6,7]" class="col-span-12 sm:col-span-6 lg:col-span-3 p-2">
    <p-card class="shadow-lg h-full relative" [style]="{ overflow: 'hidden' }">
        <ng-template #header>
            <img class="w-full" [style]="{ height: '180px' }" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" alt="Event Image" />
        </ng-template>
        <ng-template #title> Community Hall </ng-template>
        <!-- Event Content -->
        <div class="flex flex-col gap-3 mt-4">
            <!-- Location -->
            <div class="flex items-center gap-2 text-gray-600 text-sm">
                <i class="pi pi-map-marker text-green-600"></i>
                <span>New York, NY</span>
            </div>
            
        </div>
        <ng-template #footer>
            <div class="flex flex-col gap-2 mt-4">
                <p-button label="Book Now"  severity="contrast" [rounded]="true" class="block"></p-button>
                <p-button label="View Details" severity="contrast" [rounded]="true" outlined="true" class="block"></p-button>
            </div>
        </ng-template>
    </p-card>
  </div>
</div>
