<div class="flex w-full ">
    <div class="flex items-center space-x-3 mb-6">
        <!-- Avatar with first letter -->
        <p-avatar label="J" shape="circle" class="avatar-override" style="font-size:2rem;"></p-avatar>
        <!-- User info -->
        <div>
            <div class="font-semibold text-gray-900 text-2xl dark:text-white">
                John doe
            </div>
            <div class="text-sm text-gray-500">
                Community Member
            </div>
        </div>
    </div>
</div>
<div class="flex w-full">
    <p-tabs value="0" class="w-full">
        <p-tablist>
            <p-tab value="0"><i class="pi pi-comments"></i> Discussions</p-tab>
            <p-tab value="1"><i class="pi pi-comments"></i> My Discussions</p-tab>
            <p-tab value="2"><i class="pi pi-receipt"></i> Invitations</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-alldiscussions></app-alldiscussions>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-mydiscussions></app-mydiscussions>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-invites></app-invites>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
