.add-space{
    margin :15px 0px;
}

form input , form textarea {
    margin-top: 5px;
}
*[readonly] {opacity: 1;cursor:not-allowed; background: var(--p-inputtext-disabled-background);color: var(--p-inputtext-disabled-color);}
