<p-dialog [(visible)]="ShowDialog" [style]="{ width: '950px' }" [header]="HeaderName" [modal]="true">
    <ng-template #content>
        <p-fluid>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- Group rendering -->
                @for (group of getGroups(config.controls); track group.name) {
                    @if (group.name !== 'fullWidth') {
                        <div class="flex flex-col md:flex-row gap-6">
                        @for (field of group.controls; track field.name) {
                            @if (!field.hidden) {
                                <div class="flex flex-wrap  w-full add-space">
                                @if(field.type !== 'select') {<label [for]="field.name">{{ field.label }} @if(field.requiredSymbol){<span >[*]</span> } </label> }
                                <!-- Input types -->
                                @if (field.type === 'text' || field.type === 'email' || field.type === 'number') {
                                    <input
                                    [readonly]="field.readonly"
                                    pInputText
                                    [id]="field.name"
                                    [formControlName]="field.name"
                                    [type]="field.type"
                                    (change)="onFieldChange(field, $event)" />
                                }

                                @else if (field.type === 'textarea') {
                                    <textarea
                                    pInputTextarea
                                    [id]="field.name"
                                    rows="4"
                                    [formControlName]="field.name"></textarea>
                                }

                                @else if (field.type === 'date') {
                                    <div class="w-full">
                                        <p-datepicker
                                        appendTo="body"
                                        [formControlName]="field.name"
                                        [iconDisplay]="'input'"
                                        [showIcon]="true"
                                        [showTime]="field.timeOnly || false"
                                        [inputId]="field.name">
                                        </p-datepicker>
                                    </div>
                                    }

                                @else if(field.type === 'select'){

                                    <core-dropdown  class="w-full"
                                    [url]="field.url || ''"
                                    [label]="field.label || ''"
                                    optionLabel="Name"
                                    [formControlName]="field.name"
                                    />
                                }
                                @else if(field.type ==='file'){
                                        <div class="w-full">
                                            <!-- <file-preview [uploadedFiles]="uploadedFiles"
                                                        (previewClick)="fileUpload.choose()">
                                            </file-preview> -->
                                            <p-fileupload
                                                #fileUpload
                                                        name="demo[]"
                                                        (onUpload)="onUpload($event)"
                                                        (onRemoveUploadedFile)="onFileRemove($event)"
                                                        [multiple]="true"
                                                        accept="image/*"
                                                        maxFileSize="1000000"
                                                        mode="advanced"
                                                        url="https://www.primefaces.org/cdn/api/upload.php">
                                            </p-fileupload>
                                        </div>
                                }
                                @else if(field.type ==='checkbox'){
                                    <div class="w-full">
                                        <core-checkbox  class="w-full"
                                            [url]="field.url || ''"
                                            [label]="field.label || ''"
                                            optionLabel="Name"
                                            [formControlName]="field.name"
                                            />
                                        </div>
                                        }
                                <!-- Error message -->
                                @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                    <small class="p-error">
                                    {{ getErrorMessage(field.name) }}
                                    </small>
                                }
                                </div>
                            }
                        }
                        </div>
                    }
                }
                <!-- Full width fields -->
                @for (field of getFullWidth(config.controls); track field.name) {
                    <div class="flex flex-wrap w-full">
                        @if(field.type !== 'select') { <label [for]="field.name">{{ field.label }} @if(field.requiredSymbol){<span >[*]</span> }</label>}
                        @if (field.type === 'textarea') {
                            <textarea
                                pInputTextarea
                                [id]="field.name"
                                rows="4"
                                [formControlName]="field.name"></textarea>
                        }
                        @else if(field.type === 'select'){
                            <core-dropdown  class="w-full"
                            [url]="field.url || ''"
                            [label]="field.label || ''"
                            optionLabel="Name"
                            [formControlName]="field.name"
                            />
                        }

                        @else {
                            <input
                                pInputText
                                [id]="field.name"
                                [type]="field.type"
                                [formControlName]="field.name" />
                        }
                        <!-- Error message -->
                        @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                            <small class="p-error">
                                {{ getErrorMessage(field.name) }}
                            </small>
                        }
                    </div>
                }
            </form>
        </p-fluid>
    </ng-template>
    <ng-template #footer>
        <div class="flex gap-2 pt-4">
            <p-button label="Cancel" variant="outlined" severity="contrast" [rounded]="true" styleClass="btn-outline-custom" (click)="hideDialog()"></p-button>
            <p-button label="Save"  severity="contrast" [rounded]="true" styleClass="btn-solid-custom" (click)="onSubmit()"></p-button>
        </div>
    </ng-template>
</p-dialog>
<p-toast />
