<p-fluid>
    <div class="flex flex-col gap-6 w-full pt-8">
        <div class="font-semibold text-xl">Profile Picture</div>
        <div class="flex flex-wrap">
            <p-avatar image="https://avatar.iran.liara.run/username?username=Osama+Tarar" class="mr-6" size="xlarge" shape="circle" />
        </div>
    </div>
    <div class="flex flex-col gap-6 w-full pt-8">
        <div class="font-semibold text-xl">Profile Info</div>
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label for="firstname2">Firstname</label>
                <input pInputText id="firstname2" value="Osama Tarar" type="text" />
            </div>
            <div class="flex flex-wrap gap-2 w-full">
                <label for="lastname2">Email Address</label>
                <input pInputText id="lastname2" value="Usamatarar1122@gmail.com" type="text" />
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label for="zip">Phone Number</label>
                <input pInputText id="zip" value="+923374848740" type="text" />
            </div>
                <div class="flex flex-wrap gap-2 w-full">

            </div>
        </div>
    </div>
    <div class="flex flex-col gap-6 w-full pt-8">
        <div class="font-semibold text-xl">Change Passowrd</div>
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label for="firstname2">Password</label>
                <input pInputText id="firstname2" value="*********" type="text" />
            </div>
            <div class="flex flex-wrap gap-2 w-full">
                <label for="lastname2">Confirm Password</label>
                <input pInputText id="lastname2" type="text" />
            </div>
        </div>
    </div>
</p-fluid>
<div class="flex p-footer">
    <div class="flex flex-row justify-end gap-2 w-full pt-6">
        <p-button label="Update" severity="contrast" [rounded]="true"></p-button>
    </div>
</div>
