<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0"><i class="pi pi-user"></i> General</p-tab>
      <p-tab value="1"><i class="pi pi-calendar"></i> Lawajam</p-tab>
      <p-tab value="2"><i class="pi pi-users"></i> Family</p-tab>
      <p-tab value="3"><i class="pi pi-credit-card"></i> Card Management</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
       <general-user-profile></general-user-profile>
      </p-tabpanel>
      <p-tabpanel value="1">
       <user-jawam></user-jawam>
      </p-tabpanel>
      <p-tabpanel value="2">
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti...
        </p>
      </p-tabpanel>
      <p-tabpanel value="3">
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti...
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
