 <p-table
            #dt
            [value]="gridData"
            (onLazyLoad)="loadGridData($event)"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="globalFilterFields"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
            [lazy]="true"
            [totalRecords]="total"
        >
            <ng-template #caption>
                <div class="flex items-center" [ngClass]="TableHeaderName ? 'justify-between' : 'justify-end'">
                    @if(TableHeaderName)
                    {
                        <h5 class="m-0"> {{TableHeaderName}} </h5>
                    }

                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    @for (col of Columns; track col.field) {
                    <th
                        [pSortableColumn]="col.field"
                        [style]="col.style">

                        {{ col.header }}

                        @if (col.sortable) {
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        }
                    </th>
                    }
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-data>
                <tr>
                    @for (col of Columns; track col.field)
                    {
                        <td [style]="col.style">
                         @if (col.type === 'date') {
                                {{ data[col.field] | date:'dd-MM-yyyy' }}
                                } @else if(col.field != 'Active'){
                                {{ data[col.field] }}
                             }
                        @if (col.field === 'Active') {

                            <p-toggleswitch (onChange)="onToggleChange(data)" [(ngModel)]="data[col.field]" />

                        }
                    }
                    <td>
                        <div class="flex items-center gap-2 flex-row">
                            @for (action of Actions; track action.action) {
                                <p-button
                                severity="contrast"
                                [icon]="action.icon"
                                [rounded]="false"
                                [outlined]="false"
                                (click)="onAction(action, data)">
                                </p-button>
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
