<div class="grid grid-cols-1 md:grid-cols-2 h-screen">
    <!-- Left Side: Form -->
    <div class="overflow-y-auto flex flex-col justify-center p-6">
        <div class="w-full max-w-[380px] mx-auto">
            <div class="w-full flex flex-col text-center mb-8">
                <h2 class="text-2xl font-bold mb-6 mt-16">Log in to your account</h2>
                <p>Continue your journey of making an impact — welcome back to the community.</p>
            </div>
            <form class="space-y-4">
                <div class="flex flex-col gap-2">
                    <label for="email">Email address</label>
                    <input id="email" type="email" pInputText class="w-full" />
                </div>
                <div class="flex flex-col gap-2 mb-8">
                    <label for="password">Password</label>
                    <input id="password" type="password" pInputText class="w-full" />
                    <div class="w-full flex flex-col text-end">
                        <a routerLink="/forgotpass" class="text-blue-600 hover:underline">Forgot password?</a>
                    </div>
                </div>
                <p-button label="Submit" severity="contrast" [rounded]="true" class="block w-full"></p-button>
                <p class="text-center text-sm text-gray-600 mt-3">
                    Don’t have an account?
                    <a routerLink="/register" class="text-blue-600 hover:underline">Sign up</a>
                </p>
            </form>
        </div>
    </div>
    <!-- Right Side Image (hidden on small screens) -->
    <app-rightimgside></app-rightimgside>
</div>
