     <p-toolbar >
        <ng-template #start> <h4> {{selectedReferenceType}} </h4>
        </ng-template>
        <ng-template #end>
            <p-button label="New Project" [rounded]="true" icon="pi pi-plus" severity="contrast" class="mr-2" (onClick)="addNew()" />
        </ng-template>
    </p-toolbar>
    <core-table [TableSPName]="'GetProjects'"
                [Columns]="Columns"
                [Actions]="Actions"
                (actionClicked)="onActionTriggered($event)">
    </core-table>

    <dynamic-form [apiName]="'generic/CMProject'"
                  [ShowDialog]="ShowDialog"
                  [HeaderName]="'Add new Project'"
                  [config]="FormConfig"
                  [patchData]="pathFormValue"
                  (toggleDialog)="toggleDialog($event)">
    </dynamic-form>

 <p-confirmdialog [style]="{ width: '450px' }" />
