

     <p-toolbar >
        <ng-template #start> <h4> {{selectedReferenceType}} </h4>
        </ng-template>
        <ng-template #end>
            <p-button label="New Event" icon="pi pi-plus" severity="contrast" [rounded]="true" class="mr-2" (onClick)="addNew()" />
        </ng-template>
    </p-toolbar>
    <core-table [TableSPName]="'GetEvents'"
                [Columns]="Columns"
                [RefreshData]="RefreshData"
                [Actions]="Actions"
                (actionClicked)="onActionTriggered($event)">
    </core-table>

    <dynamic-form [apiName]="'generic/cmevent'"
                  [ShowDialog]="ShowDialog"
                  [HeaderName]="'Add new Event'"
                  [config]="FormConfig"
                  [patchData]="pathFormValue"
                   (submitForm)="OnFormSubmit($event)"
                  (toggleDialog)="toggleDialog($event)">
    </dynamic-form>

 <p-confirmdialog [style]="{ width: '450px' }" />
